# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local
# Mantém .env.example e .env.development/.env.production no repositório
# Mas permite que sejam sobrescritos localmente
!.env.example
!.env.development
!.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

